# NAME - SUBAHM
# BATCH - DS2401
# WEB SCRAPING ASSIGNMENT 4

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\dell\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\dell\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium 
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time 
from selenium.common.exceptions import NoSuchElementException

# Q1

In [4]:
#question 1
driver1=webdriver.Chrome()

In [6]:
#step 1: get the link
driver1.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [18]:
#step 2: scraping the data
#rank can't be scraped form the site
rank=[]
rank1=driver1.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr')
for i in rank1:
    rank.append(i.get_attribute[':before'])
rank

TypeError: 'method' object is not subscriptable

In [25]:
#so i have create the loop for rank as the scraped data in in the order of rank
rank=[]
x=0
for i in range(30):
    if x<30:
        x=x+1
    else:
        break
    rank.append(x)
rank

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30]

In [13]:
#scraping name
name=[]
name1=driver1.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
for i in name1:
    name.append(i.text)
name

['"Baby Shark Dance"[7]',
 '"Despacito"[10]',
 '"Johny Johny Yes Papa"[18]',
 '"Bath Song"[19]',
 '"Shape of You"[20]',
 '"See You Again"[23]',
 '"Wheels on the Bus"[28]',
 '"Phonics Song with Two Words"[29]',
 '"Uptown Funk"[30]',
 '"Gangnam Style"[31]',
 '"Learning Colors – Colorful Eggs on a Farm"[36]',
 '"Dame Tu Cosita"[37]',
 '"Masha and the Bear – Recipe for Disaster"[38]',
 '"Axel F"[39]',
 '"Sugar"[40]',
 '"Baa Baa Black Sheep"[41]',
 '"Counting Stars"[42]',
 '"Lakdi Ki Kathi"[43]',
 '"Roar"[44]',
 '"Waka Waka (This Time for Africa)"[45]',
 '"Sorry"[46]',
 '"Shree Hanuman Chalisa"[47]',
 '"Humpty the train on a fruits ride"[48]',
 '"Thinking Out Loud"[49]',
 '"Perfect"[50]',
 '"Dark Horse"[51]',
 '"Let Her Go"[52]',
 '"Faded"[53]',
 '"Girls Like You"[54]',
 '"Lean On"[55]']

In [9]:
#scraping artist
artist=[]
artist1=driver1.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
for i in artist1:
    artist.append(i.text)
artist

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 "LooLoo Kids - Nursery Rhymes and Children's Songs",
 'Cocomelon - Nursery Rhymes',
 'Ed Sheeran',
 'Wiz Khalifa',
 'Cocomelon - Nursery Rhymes',
 'ChuChu TV Nursery Rhymes & Kids Songs',
 'Mark Ronson',
 'Psy',
 'Miroshka TV',
 'Ultra Records',
 'Get Movies',
 'Crazy Frog',
 'Maroon 5',
 'Cocomelon - Nursery Rhymes',
 'OneRepublic',
 'Jingle Toons',
 'Katy Perry',
 'Shakira',
 'Justin Bieber',
 'T-Series Bhakti Sagar',
 'Kiddiestv Hindi - Nursery Rhymes & Kids Songs',
 'Ed Sheeran',
 'Ed Sheeran',
 'Katy Perry',
 'Passenger',
 'Alan Walker',
 'Maroon 5',
 'Major Lazer Official']

In [14]:
#scraping views
views=[]
views1=driver1.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
for i in views1:
    views.append(i.text)
views

['14.32',
 '8.41',
 '6.89',
 '6.66',
 '6.23',
 '6.22',
 '6.01',
 '5.75',
 '5.18',
 '5.10',
 '5.09',
 '4.59',
 '4.57',
 '4.45',
 '4.02',
 '4.01',
 '4.00',
 '3.98',
 '3.98',
 '3.89',
 '3.78',
 '3.77',
 '3.76',
 '3.75',
 '3.70',
 '3.70',
 '3.64',
 '3.60',
 '3.58',
 '3.57']

In [15]:
#scraping date
date=[]
date1=driver1.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
for i in date1:
    date.append(i.text)
date

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'May 2, 2018',
 'January 30, 2017',
 'April 6, 2015',
 'May 24, 2018',
 'March 6, 2014',
 'November 19, 2014',
 'July 15, 2012',
 'February 27, 2018',
 'April 5, 2018',
 'January 31, 2012',
 'June 16, 2009',
 'January 14, 2015',
 'June 25, 2018',
 'May 31, 2013',
 'June 14, 2018',
 'September 5, 2013',
 'June 4, 2010',
 'October 22, 2015',
 'May 10, 2011',
 'January 26, 2018',
 'October 7, 2014',
 'November 9, 2017',
 'February 20, 2014',
 'July 25, 2012',
 'December 3, 2015',
 'May 31, 2018',
 'March 22, 2015']

In [26]:
#step 3: insert the scraped data into a dataframe 
import pandas as pd
df1=pd.DataFrame({'Rank':rank,'Name':name,'Artist':artist,'No. of views':views,'Upload date':date})
df1

,Rank,Name,Artist,No. of views,Upload date
0,1,"""Baby Shark Dance""[7]",14.32,14.32,"June 17, 2016"
1,2,"""Despacito""[10]",8.41,8.41,"January 12, 2017"
2,3,"""Johny Johny Yes Papa""[18]",6.89,6.89,"October 8, 2016"
3,4,"""Bath Song""[19]",6.66,6.66,"May 2, 2018"
4,5,"""Shape of You""[20]",6.23,6.23,"January 30, 2017"
5,6,"""See You Again""[23]",6.22,6.22,"April 6, 2015"
6,7,"""Wheels on the Bus""[28]",6.01,6.01,"May 24, 2018"
7,8,"""Phonics Song with Two Words""[29]",5.75,5.75,"March 6, 2014"
8,9,"""Uptown Funk""[30]",5.18,5.18,"November 19, 2014"
9,10,"""Gangnam Style""[31]",5.10,5.10,"July 15, 2012"
10,11,"""Learning Colors – Colorful Eggs on a Farm""[36]",5.09,5.09,"February 27, 2018"
11,12,"""Dame Tu Cosita""[37]",4.59,4.59,"April 5, 2018"
12,13,"""Masha and the Bear – Recipe for Disaster""[38]",4.57,4.57,"January 31, 2012"
13,14,"""Axel F""[39]",4.45,4.45,"June 16, 2009"
14,15,"""Sugar""[40]",4.02,4.02,"January 14, 2015"
15,16,"""Baa Baa Black Sheep""[41]",4.01,4.01,"June 25, 2018"
16,17,"""Counting Stars""[42]",4.00,4.00,"May 31, 2013"
17,18,"""Lakdi Ki Kathi""[43]",3.98,3.98,"June 14, 2018"
18,19,"""Roar""[44]",3.98,3.98,"September 5, 2013"
19,20,"""Waka Waka (This Time for Africa)""[45]",3.89,3.89,"June 4, 2010"
20,21,"""Sorry""[46]",3.78,3.78,"October 22, 2015"
21,22,"""Shree Hanuman Chalisa""[47]",3.77,3.77,"May 10, 2011"
22,23,"""Humpty the train on a fruits ride""[48]",3.76,3.76,"January 26, 2018"
23,24,"""Thinking Out Loud""[49]",3.75,3.75,"October 7, 2014"
24,25,"""Perfect""[50]",3.70,3.70,"November 9, 2017"
25,26,"""Dark Horse""[51]",3.70,3.70,"February 20, 2014"
26,27,"""Let Her Go""[52]",3.64,3.64,"July 25, 2012"
27,28,"""Faded""[53]",3.60,3.60,"December 3, 2015"
28,29,"""Girls Like You""[54]",3.58,3.58,"May 31, 2018"
29,30,"""Lean On""[55]",3.57,3.57,"March 22, 2015"

# Q2

In [34]:
#question 2
driver2=webdriver.Chrome()

In [35]:
#step1: get the link
driver2.get('https://www.bcci.tv/')

In [36]:
#step 2: click on fixtures button
fixtures=driver2.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
fixtures.click()

In [37]:
#step 3: scraping the data
#scraping series
series=[]
series1=driver2.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in series1:
    series.append(i.text)
series

['ICC MENS T20 WORLD CUP 2024',
 'ICC MENS T20 WORLD CUP 2024',
 'ICC MENS T20 WORLD CUP 2024',
 'ICC MENS T20 WORLD CUP 2024',
 'INDIA TOUR OF ZIMBABWE 2024',
 'INDIA TOUR OF ZIMBABWE 2024',
 'INDIA TOUR OF ZIMBABWE 2024',
 'INDIA TOUR OF ZIMBABWE 2024',
 'INDIA TOUR OF ZIMBABWE 2024']

In [38]:
#scraping place
place=[]
place1=driver2.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
for i in place1:
    place.append(i.text)
place

['Nassau County International Cricket Stadium, New York',
 'Nassau County International Cricket Stadium, New York',
 'Nassau County International Cricket Stadium, New York',
 'Central Broward Park & Broward County Stadium, Lauderhill, Florida',
 'Harare Sports Club, Harare',
 'Harare Sports Club, Harare',
 'Harare Sports Club, Harare',
 'Harare Sports Club, Harare',
 'Harare Sports Club, Harare']

In [39]:
#scraping date
f_date=[]
f_date1=driver2.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in f_date1:
    f_date.append(i.text)
f_date

['5 JUNE, 2024',
 '9 JUNE, 2024',
 '12 JUNE, 2024',
 '15 JUNE, 2024',
 '6 JULY, 2024',
 '7 JULY, 2024',
 '10 JULY, 2024',
 '13 JULY, 2024',
 '14 JULY, 2024']

In [40]:
#scraping time
f_time=[]
f_time1=driver2.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in f_time1:
    f_time.append(i.text)
f_time

['8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST']

In [42]:
#step 4: creating a dataframe and putting the scraped data into it
import pandas as pd 
fixtures=pd.DataFrame({'Series':series,'Place':place,'Date':f_date,'Time':f_time})
fixtures

,Series,Place,Date,Time
0,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","5 JUNE, 2024",8:00 PM IST
1,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","9 JUNE, 2024",8:00 PM IST
2,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","12 JUNE, 2024",8:00 PM IST
3,ICC MENS T20 WORLD CUP 2024,"Central Broward Park & Broward County Stadium,...","15 JUNE, 2024",8:00 PM IST
4,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","6 JULY, 2024",8:00 PM IST
5,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","7 JULY, 2024",8:00 PM IST
6,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","10 JULY, 2024",8:00 PM IST
7,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","13 JULY, 2024",8:00 PM IST
8,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","14 JULY, 2024",8:00 PM IST

# Q3

In [57]:
#question 3
driver3=webdriver.Chrome()

In [58]:
#step 1: get the link 
driver3.get('https://statisticstimes.com/')

In [59]:
#step 2: click on economy button
economy=driver3.find_element(By.XPATH,'//div[@class="navbar"]/div[2]')
economy.click()

In [60]:
#step 3: click on india  button
economy1=driver3.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/div/a[3]')
economy1.click()

In [62]:
#step 4: click on GDP of states button(first option from indian states section)
GDP_of_states=driver3.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
GDP_of_states.click()

In [110]:
#step 5: scraping the data
#scraping rank
e_rank=[]
e_rank1=driver3.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[1]')
for i in e_rank1:
        e_rank.append(i.text)
e_rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33']

In [111]:
del e_rank[33:66]

In [112]:
e_rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33']

In [113]:
len(e_rank)

33

In [76]:
#scraping state
state=[]
state1=driver3.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[2]')
for i in state1:
    state.append(i.text)
state

['Maharashtra',
 'Tamil Nadu',
 'Karnataka',
 'Uttar Pradesh',
 'Gujarat',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Odisha',
 'Bihar',
 'Punjab',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Arunachal Pradesh',
 'Nagaland',
 'Mizoram',
 'Andaman & Nicobar Islands',
 'Maharashtra',
 'Tamil Nadu',
 'Karnataka',
 'Uttar Pradesh',
 'Gujarat',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Odisha',
 'Punjab',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Manipur',
 'Sikkim',
 'Arunachal Pradesh',
 'Nagaland',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [77]:
del state[33:66]

In [78]:
state

['Maharashtra',
 'Tamil Nadu',
 'Karnataka',
 'Uttar Pradesh',
 'Gujarat',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Odisha',
 'Bihar',
 'Punjab',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Arunachal Pradesh',
 'Nagaland',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [114]:
len(state)

33

In [80]:
#scraping GSDP (Cr INR at Current prices)(23-24)
GSDP1=[]
GSDP=driver3.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[3]')
for i in GSDP:
    GSDP1.append(i.text)
GSDP1

['-',
 '2,700,109',
 '2,500,733',
 '2,547,861',
 '-',
 '1,700,939',
 '1,524,030',
 '1,439,674',
 '1,463,960',
 '1,363,327',
 '-',
 '1,107,746',
 '1,095,535',
 '832,790',
 '-',
 '736,423',
 '565,401',
 '505,887',
 '-',
 '346,206',
 '246,465',
 '207,430',
 '-',
 '-',
 '-',
 '-',
 '47,381',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '2,417,237',
 '2,261,867',
 '2,217,055',
 '-',
 '1,531,371',
 '1,366,626',
 '1,291,518',
 '1,326,022',
 '1,242,883',
 '-',
 '997,171',
 '985,877',
 '-',
 '749,809',
 '639,252',
 '487,584',
 '447,682',
 '-',
 '304,592',
 '200,046',
 '176,164',
 '-',
 '-',
 '-',
 '-',
 '42,214',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-']

In [81]:
del GSDP1[33:66]

In [82]:
GSDP1

['-',
 '2,700,109',
 '2,500,733',
 '2,547,861',
 '-',
 '1,700,939',
 '1,524,030',
 '1,439,674',
 '1,463,960',
 '1,363,327',
 '-',
 '1,107,746',
 '1,095,535',
 '832,790',
 '-',
 '736,423',
 '565,401',
 '505,887',
 '-',
 '346,206',
 '246,465',
 '207,430',
 '-',
 '-',
 '-',
 '-',
 '47,381',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-']

In [115]:
len(GSDP1)

33

In [83]:
#scraping GSDP (Cr INR at Current prices)(22-23)
GSDP2=[]
GSDP=driver3.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[4]')
for i in GSDP:
    GSDP2.append(i.text)
GSDP2

['-',
 '2,364,514',
 '2,269,995',
 '2,258,040',
 '2,230,609',
 '1,531,758',
 '1,365,849',
 '1,303,524',
 '1,308,034',
 '1,246,471',
 '1,046,188',
 '1,014,688',
 '984,055',
 '753,177',
 '751,396',
 '676,164',
 '493,167',
 '464,399',
 '393,722',
 '303,781',
 '224,226',
 '191,728',
 '93,672',
 '72,636',
 '54,285',
 '49,643',
 '42,697',
 '42,756',
 '-',
 '39,630',
 '35,643',
 '-',
 '-',
 '-',
 '2,115,510',
 '2,055,658',
 '1,962,865',
 '1,946,334',
 '1,378,859',
 '1,222,507',
 '1,167,107',
 '1,184,237',
 '1,137,254',
 '933,564',
 '911,639',
 '885,029',
 '681,761',
 '670,196',
 '588,712',
 '428,072',
 '412,494',
 '360,689',
 '267,653',
 '181,383',
 '163,062',
 '83,711',
 '65,808',
 '48,261',
 '44,809',
 '37,925',
 '-',
 '35,670',
 '35,555',
 '30,957',
 '-',
 '-']

In [84]:
del GSDP2[33:66]

In [85]:
GSDP2

['-',
 '2,364,514',
 '2,269,995',
 '2,258,040',
 '2,230,609',
 '1,531,758',
 '1,365,849',
 '1,303,524',
 '1,308,034',
 '1,246,471',
 '1,046,188',
 '1,014,688',
 '984,055',
 '753,177',
 '751,396',
 '676,164',
 '493,167',
 '464,399',
 '393,722',
 '303,781',
 '224,226',
 '191,728',
 '93,672',
 '72,636',
 '54,285',
 '49,643',
 '42,697',
 '42,756',
 '-',
 '39,630',
 '35,643',
 '-',
 '-']

In [116]:
len(GSDP2)

33

In [89]:
#scraping GSDP (Cr INR at Current prices)(21-22)
GSDP3=[]
GSDP=driver3.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[5]')
for i in GSDP:
    GSDP3.append(i.text)
GSDP3

['3,108,022',
 '2,071,286',
 '1,978,094',
 '1,975,595',
 '1,928,683',
 '1,329,238',
 '1,193,489',
 '1,148,471',
 '1,124,204',
 '1,092,964',
 '934,542',
 '881,336',
 '868,905',
 '662,886',
 '650,302',
 '617,192',
 '411,454',
 '410,525',
 '358,863',
 '267,143',
 '193,352',
 '172,162',
 '84,266',
 '62,550',
 '46,096',
 '43,810',
 '38,785',
 '37,557',
 '36,594',
 '34,775',
 '31,038',
 '27,824',
 '10,371',
 '2,690,525',
 '1,854,109',
 '1,790,456',
 '1,715,328',
 '1,700,504',
 '1,199,587',
 '1,068,864',
 '1,030,465',
 '1,017,859',
 '993,235',
 '825,010',
 '782,570',
 '778,885',
 '589,712',
 '579,905',
 '540,097',
 '366,359',
 '365,028',
 '325,830',
 '235,376',
 '156,907',
 '145,182',
 '74,305',
 '56,226',
 '41,011',
 '39,787',
 '34,441',
 '32,874',
 '31,519',
 '31,420',
 '26,924',
 '24,293',
 '9,209']

In [90]:
del GSDP3[33:66]

In [91]:
GSDP3

['3,108,022',
 '2,071,286',
 '1,978,094',
 '1,975,595',
 '1,928,683',
 '1,329,238',
 '1,193,489',
 '1,148,471',
 '1,124,204',
 '1,092,964',
 '934,542',
 '881,336',
 '868,905',
 '662,886',
 '650,302',
 '617,192',
 '411,454',
 '410,525',
 '358,863',
 '267,143',
 '193,352',
 '172,162',
 '84,266',
 '62,550',
 '46,096',
 '43,810',
 '38,785',
 '37,557',
 '36,594',
 '34,775',
 '31,038',
 '27,824',
 '10,371']

In [117]:
len(GSDP3)

33

In [92]:
#scraping shares (21-22) data
share=[]
share1=driver3.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[6]')
for i in share1:
    share.append(i.text)
share

['13.17%',
 '8.78%',
 '8.38%',
 '8.37%',
 '8.17%',
 '5.63%',
 '5.06%',
 '4.87%',
 '4.76%',
 '4.63%',
 '3.96%',
 '3.73%',
 '3.68%',
 '2.81%',
 '2.76%',
 '2.62%',
 '1.74%',
 '1.74%',
 '1.52%',
 '1.13%',
 '0.82%',
 '0.73%',
 '0.36%',
 '0.27%',
 '0.20%',
 '0.19%',
 '0.16%',
 '0.16%',
 '0.16%',
 '0.15%',
 '0.13%',
 '0.12%',
 '0.04%',
 '13.03%',
 '8.98%',
 '8.67%',
 '8.31%',
 '8.23%',
 '5.81%',
 '5.18%',
 '4.99%',
 '4.93%',
 '4.81%',
 '3.99%',
 '3.79%',
 '3.77%',
 '2.86%',
 '2.81%',
 '2.62%',
 '1.77%',
 '1.77%',
 '1.58%',
 '1.14%',
 '0.76%',
 '0.70%',
 '0.36%',
 '0.27%',
 '0.20%',
 '0.19%',
 '0.17%',
 '0.16%',
 '0.15%',
 '0.15%',
 '0.13%',
 '0.12%',
 '0.04%']

In [93]:
del share[33:66]

In [94]:
share

['13.17%',
 '8.78%',
 '8.38%',
 '8.37%',
 '8.17%',
 '5.63%',
 '5.06%',
 '4.87%',
 '4.76%',
 '4.63%',
 '3.96%',
 '3.73%',
 '3.68%',
 '2.81%',
 '2.76%',
 '2.62%',
 '1.74%',
 '1.74%',
 '1.52%',
 '1.13%',
 '0.82%',
 '0.73%',
 '0.36%',
 '0.27%',
 '0.20%',
 '0.19%',
 '0.16%',
 '0.16%',
 '0.16%',
 '0.15%',
 '0.13%',
 '0.12%',
 '0.04%']

In [118]:
len(share)

33

In [95]:
#scraping GDP ($billion)(2021)data
GDP=[]
GDP1=driver3.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[7]')
for i in GDP1:
    GDP.append(i.text)
GDP

['414.928',
 '276.522',
 '264.080',
 '263.747',
 '257.484',
 '177.456',
 '159.334',
 '153.324',
 '150.084',
 '145.913',
 '124.764',
 '117.660',
 '116.001',
 '88.497',
 '86.817',
 '82.397',
 '54.930',
 '54.806',
 '47.909',
 '35.664',
 '25.813',
 '22.984',
 '11.250',
 '8.351',
 '6.154',
 '5.849',
 '5.178',
 '5.014',
 '4.885',
 '4.643',
 '4.144',
 '3.715',
 '1.385',
 '-',
 '1,384,921',
 '1,263,925',
 '1,206,156',
 '-',
 '791,144',
 '737,042',
 '723,343',
 '679,552',
 '579,234',
 '-',
 '590,836',
 '561,368',
 '-',
 '443,233',
 '424,857',
 '288,842',
 '279,803',
 '-',
 '186,484',
 '108,830',
 '120,733',
 '-',
 '-',
 '-',
 '-',
 '23,063',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-']

In [96]:
del GDP[33:66]

In [97]:
GDP

['414.928',
 '276.522',
 '264.080',
 '263.747',
 '257.484',
 '177.456',
 '159.334',
 '153.324',
 '150.084',
 '145.913',
 '124.764',
 '117.660',
 '116.001',
 '88.497',
 '86.817',
 '82.397',
 '54.930',
 '54.806',
 '47.909',
 '35.664',
 '25.813',
 '22.984',
 '11.250',
 '8.351',
 '6.154',
 '5.849',
 '5.178',
 '5.014',
 '4.885',
 '4.643',
 '4.144',
 '3.715',
 '1.385']

In [119]:
len(GDP)

33

In [98]:
#scraping GSDP (Cr INR at 2011-12 prices)(23-24)data
GSDP4=[]
GSDP=driver3.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[8]')
for i in GSDP:
    GSDP4.append(i.text)
GSDP4

['-',
 '1,572,601',
 '1,423,229',
 '1,423,358',
 '-',
 '904,088',
 '842,621',
 '820,894',
 '767,936',
 '660,363',
 '-',
 '672,247',
 '634,027',
 '503,871',
 '-',
 '493,283',
 '318,559',
 '321,945',
 '-',
 '213,378',
 '139,171',
 '142,800',
 '-',
 '-',
 '-',
 '-',
 '26,524',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '1,279,878',
 '1,187,557',
 '1,116,011',
 '1,301,070',
 '735,049',
 '686,211',
 '672,455',
 '633,091',
 '546,005',
 '564,164',
 '548,826',
 '519,135',
 '394,114',
 '403,936',
 '399,400',
 '264,089',
 '263,839',
 '235,685',
 '173,280',
 '100,849',
 '112,633',
 '52,426',
 '37,917',
 '29,957',
 '25,652',
 '21,905',
 '-',
 '17,832',
 '18,273',
 '14,307',
 '-',
 '-']

In [99]:
del GSDP4[33:66]
GSDP4

['-',
 '1,572,601',
 '1,423,229',
 '1,423,358',
 '-',
 '904,088',
 '842,621',
 '820,894',
 '767,936',
 '660,363',
 '-',
 '672,247',
 '634,027',
 '503,871',
 '-',
 '493,283',
 '318,559',
 '321,945',
 '-',
 '213,378',
 '139,171',
 '142,800',
 '-',
 '-',
 '-',
 '-',
 '26,524',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-']

In [120]:
len(GSDP4)

33

In [100]:
#scraping GSDP (Cr INR at 2011-12 prices)(22-23) data
GSDP5=[]
GSDP=driver3.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[9]')
for i in GSDP:
    GSDP5.append(i.text)
GSDP5

['-',
 '1,453,321',
 '1,335,052',
 '1,318,027',
 '1,475,629',
 '839,805',
 '784,655',
 '764,685',
 '715,157',
 '622,908',
 '616,189',
 '625,981',
 '587,198',
 '464,574',
 '442,473',
 '462,053',
 '300,799',
 '302,119',
 '259,800',
 '198,341',
 '129,573',
 '133,372',
 '59,867',
 '42,997',
 '33,879',
 '28,849',
 '25,209',
 '22,144',
 '-',
 '21,085',
 '18,993',
 '-',
 '-',
 '1,731,189',
 '1,182,919',
 '1,098,510',
 '1,014,396',
 '1,198,007',
 '692,592',
 '637,616',
 '636,219',
 '591,472',
 '512,117',
 '528,323',
 '507,595',
 '480,417',
 '356,057',
 '369,904',
 '376,909',
 '246,203',
 '245,947',
 '219,234',
 '160,921',
 '92,690',
 '105,500',
 '47,901',
 '34,851',
 '26,985',
 '24,136',
 '21,096',
 '17,810',
 '16,764',
 '17,196',
 '13,222',
 '15,847',
 '6,558']

In [101]:
del GSDP5[33:66]
GSDP5

['-',
 '1,453,321',
 '1,335,052',
 '1,318,027',
 '1,475,629',
 '839,805',
 '784,655',
 '764,685',
 '715,157',
 '622,908',
 '616,189',
 '625,981',
 '587,198',
 '464,574',
 '442,473',
 '462,053',
 '300,799',
 '302,119',
 '259,800',
 '198,341',
 '129,573',
 '133,372',
 '59,867',
 '42,997',
 '33,879',
 '28,849',
 '25,209',
 '22,144',
 '-',
 '21,085',
 '18,993',
 '-',
 '-']

In [121]:
len(GSDP5)

33

In [102]:
#scraping GSDP (Cr INR at 2011-12 prices)(21-22)
GSDP6=[]
GSDP=driver3.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[10]')
for i in GSDP:
    GSDP6.append(i.text)
GSDP6

['2,027,971',
 '1,343,287',
 '1,235,377',
 '1,200,093',
 '1,365,922',
 '787,439',
 '727,805',
 '722,727',
 '669,229',
 '584,470',
 '578,057',
 '580,396',
 '544,317',
 '430,541',
 '399,930',
 '434,261',
 '278,835',
 '280,609',
 '243,348',
 '184,274',
 '119,174',
 '124,770',
 '55,342',
 '39,487',
 '30,587',
 '27,131',
 '24,267',
 '20,728',
 '20,515',
 '19,707',
 '17,336',
 '18,494',
 '7,172']

In [103]:
del GSDP6[33:66]
GSDP6

['2,027,971',
 '1,343,287',
 '1,235,377',
 '1,200,093',
 '1,365,922',
 '787,439',
 '727,805',
 '722,727',
 '669,229',
 '584,470',
 '578,057',
 '580,396',
 '544,317',
 '430,541',
 '399,930',
 '434,261',
 '278,835',
 '280,609',
 '243,348',
 '184,274',
 '119,174',
 '124,770',
 '55,342',
 '39,487',
 '30,587',
 '27,131',
 '24,267',
 '20,728',
 '20,515',
 '19,707',
 '17,336',
 '18,494',
 '7,172']

In [122]:
len(GSDP6)

33

In [123]:
#step 6:creating a dataframe and putting the scraped data into it
import pandas as pd
df3=pd.DataFrame({'Rank':e_rank,'State':state,'GSDP Cr INR at current prices(23-24)':GSDP1,'GSDP Cr INR at current prices(22-23)':GSDP2,'GSDP Cr INR at current prices(21-22)':GSDP3,'Share':share,'GDP($billion)(2021)':GDP,'GSDP Cr INR at 2011-2012 prices(23-24)':GSDP4,'GSDP Cr INR at 2011-2012 prices(22-23)':GSDP5,'GSDP Cr INR at 2011-2012 prices(21-22)':GSDP6})
df3

,Rank,State,GSDP Cr INR at current prices(23-24),GSDP Cr INR at current prices(22-23),GSDP Cr INR at current prices(21-22),Share,GDP($billion)(2021),GSDP Cr INR at 2011-2012 prices(23-24),GSDP Cr INR at 2011-2012 prices(22-23),GSDP Cr INR at 2011-2012 prices(21-22)
0,1,Maharashtra,-,-,"3,108,022",13.17%,414.928,-,-,"2,027,971"
1,2,Tamil Nadu,"2,700,109","2,364,514","2,071,286",8.78%,276.522,"1,572,601","1,453,321","1,343,287"
2,3,Karnataka,"2,500,733","2,269,995","1,978,094",8.38%,264.080,"1,423,229","1,335,052","1,235,377"
3,4,Uttar Pradesh,"2,547,861","2,258,040","1,975,595",8.37%,263.747,"1,423,358","1,318,027","1,200,093"
4,5,Gujarat,-,"2,230,609","1,928,683",8.17%,257.484,-,"1,475,629","1,365,922"
5,6,West Bengal,"1,700,939","1,531,758","1,329,238",5.63%,177.456,"904,088","839,805","787,439"
6,7,Rajasthan,"1,524,030","1,365,849","1,193,489",5.06%,159.334,"842,621","784,655","727,805"
7,8,Andhra Pradesh,"1,439,674","1,303,524","1,148,471",4.87%,153.324,"820,894","764,685","722,727"
8,9,Telangana,"1,463,960","1,308,034","1,124,204",4.76%,150.084,"767,936","715,157","669,229"
9,10,Madhya Pradesh,"1,363,327","1,246,471","1,092,964",4.63%,145.913,"660,363","622,908","584,470"
10,11,Kerala,-,"1,046,188","934,542",3.96%,124.764,-,"616,189","578,057"
11,12,Delhi,"1,107,746","1,014,688","881,336",3.73%,117.660,"672,247","625,981","580,396"
12,13,Haryana,"1,095,535","984,055","868,905",3.68%,116.001,"634,027","587,198","544,317"
13,14,Odisha,"832,790","753,177","662,886",2.81%,88.497,"503,871","464,574","430,541"
14,15,Bihar,-,"751,396","650,302",2.76%,86.817,-,"442,473","399,930"
15,16,Punjab,"736,423","676,164","617,192",2.62%,82.397,"493,283","462,053","434,261"
16,17,Assam,"565,401","493,167","411,454",1.74%,54.930,"318,559","300,799","278,835"
17,18,Chhattisgarh,"505,887","464,399","410,525",1.74%,54.806,"321,945","302,119","280,609"
18,19,Jharkhand,-,"393,722","358,863",1.52%,47.909,-,"259,800","243,348"
19,20,Uttarakhand,"346,206","303,781","267,143",1.13%,35.664,"213,378","198,341","184,274"
20,21,Jammu & Kashmir,"246,465","224,226","193,352",0.82%,25.813,"139,171","129,573","119,174"
21,22,Himachal Pradesh,"207,430","191,728","172,162",0.73%,22.984,"142,800","133,372","124,770"
22,23,Goa,-,"93,672","84,266",0.36%,11.250,-,"59,867","55,342"
23,24,Tripura,-,"72,636","62,550",0.27%,8.351,-,"42,997","39,487"
24,25,Chandigarh,-,"54,285","46,096",0.20%,6.154,-,"33,879","30,587"
25,26,Puducherry,-,"49,643","43,810",0.19%,5.849,-,"28,849","27,131"
26,27,Meghalaya,"47,381","42,697","38,785",0.16%,5.178,"26,524","25,209","24,267"
27,28,Sikkim,-,"42,756","37,557",0.16%,5.014,-,"22,144","20,728"
28,29,Manipur,-,-,"36,594",0.16%,4.885,-,-,"20,515"
29,30,Arunachal Pradesh,-,"39,630","34,775",0.15%,4.643,-,"21,085","19,707"
30,31,Nagaland,-,"35,643","31,038",0.13%,4.144,-,"18,993","17,336"
31,32,Mizoram,-,-,"27,824",0.12%,3.715,-,-,"18,494"
32,33,Andaman & Nicobar Islands,-,-,"10,371",0.04%,1.385,-,-,"7,172"

# Q4

In [276]:
#question 4
driver4=webdriver.Chrome()

In [277]:
#step1: get the link
driver4.get('https://github.com/')

In [278]:
 driver4.maximize_window()

In [279]:
#step 2: click on open source button
open_source=driver4.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
open_source.click()

In [280]:
#step 3: click on trending button
trending=driver4.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trending.click()

In [282]:
#step 4: scraping the data
#scraping repository title
title=[]
title1=driver4.find_elements(By.XPATH,'//article[@class="Box-row"]/h2/a')
for i in title1:
    title.append(i.text)
title

['plandex-ai / plandex',
 'HardhatChad / ore-cli',
 'PKUFlyingPig / cs-self-learning',
 'HardhatChad / ore',
 'AstroNvim / AstroNvim',
 'freeCodeCamp / freeCodeCamp',
 'EbookFoundation / free-programming-books',
 'public-apis / public-apis',
 'aurora-develop / aurora',
 'myshell-ai / JetMoE',
 'ixartz / SaaS-Boilerplate',
 'dockur / windows',
 'kamranahmedse / developer-roadmap',
 'searxng / searxng',
 'cloudflare / orange',
 'availproject / avail-light',
 'neovim / neovim',
 'availproject / avail',
 'ossu / computer-science',
 'FoundationVision / VAR',
 'pagefaultgames / pokerogue',
 'donnemartin / system-design-primer',
 'refinedev / refine',
 'jrouwe / JoltPhysics',
 'logspace-ai / langflow']

In [283]:
len(title)

25

In [284]:
#scraping url
url=[]
url1=driver4.find_elements(By.XPATH,'//article[@class="Box-row"]/h2/a')
for i in url1:
    url.append(i.get_attribute('href'))
url

['https://github.com/plandex-ai/plandex',
 'https://github.com/HardhatChad/ore-cli',
 'https://github.com/PKUFlyingPig/cs-self-learning',
 'https://github.com/HardhatChad/ore',
 'https://github.com/AstroNvim/AstroNvim',
 'https://github.com/freeCodeCamp/freeCodeCamp',
 'https://github.com/EbookFoundation/free-programming-books',
 'https://github.com/public-apis/public-apis',
 'https://github.com/aurora-develop/aurora',
 'https://github.com/myshell-ai/JetMoE',
 'https://github.com/ixartz/SaaS-Boilerplate',
 'https://github.com/dockur/windows',
 'https://github.com/kamranahmedse/developer-roadmap',
 'https://github.com/searxng/searxng',
 'https://github.com/cloudflare/orange',
 'https://github.com/availproject/avail-light',
 'https://github.com/neovim/neovim',
 'https://github.com/availproject/avail',
 'https://github.com/ossu/computer-science',
 'https://github.com/FoundationVision/VAR',
 'https://github.com/pagefaultgames/pokerogue',
 'https://github.com/donnemartin/system-design-primer',
 'https://github.com/refinedev/refine',
 'https://github.com/jrouwe/JoltPhysics',
 'https://github.com/logspace-ai/langflow']

In [293]:
#scraping repository description, contributers count , language used
from selenium.common.exceptions import NoSuchElementException
description=[]
count=[]
language=[]
for i in url:
    driver4.get(i)
    time.sleep(5)
    try:
        describe=driver4.find_element(By.XPATH,'//p[@class="f4 my-3"]')
        description.append(describe.text)
    except NoSuchElementException:
        description.append('-')
    
    try:
        count1=driver4.find_element(By.XPATH,'//span[@class="Counter ml-1"]')
        count.append(count1.text)
    except NoSuchElementException:
        count.append('-')
    
    try:
        l1=driver4.find_element(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]')
        language.append(l1.text)
    except NoSuchElementException:
        language.append('-')
description

['An AI coding engine for complex tasks',
 '-',
 '计算机自学指南',
 '-',
 'AstroNvim is an aesthetic and feature-rich neovim config that is extensible and easy to use with a great set of plugins',
 "freeCodeCamp.org's open-source codebase and curriculum. Learn to code for free.",
 '📚 Freely available programming books',
 'A collective list of free APIs',
 'free',
 'Reaching LLaMA2 Performance with 0.1M Dollars',
 '🚀🎉📚 SaaS Boilerplate built with Next.js + Tailwind CSS + Shadcn UI + TypeScript. ⚡️ Full-stack React application with Auth, Multi-tenancy, Roles & Permissions, i18n, Landing Page, DB, Logging, Testing',
 'Windows in a Docker container.',
 'Interactive roadmaps, guides and other educational content to help developers grow in their careers.',
 'SearXNG is a free internet metasearch engine which aggregates results from various search services and databases. Users are neither tracked nor profiled.',
 '-',
 '-',
 'Vim-fork focused on extensibility and usability',
 '-',
 '🎓 Path to a free self-taught education in Computer Science!',
 '[GPT beats diffusion🔥] [scaling laws in visual generation📈] Official impl. of "Visual Autoregressive Modeling: Scalable Image Generation via Next-Scale Prediction"',
 '-',
 'Learn how to design large-scale systems. Prep for the system design interview. Includes Anki flashcards.',
 'A React Framework for building internal tools, admin panels, dashboards & B2B apps with unmatched flexibility.',
 'A multi core friendly rigid body physics and collision detection library, written in C++, suitable for games and VR applications.',
 '⛓️ Langflow is a dynamic graph where each node is an executable unit. Its modular and interactive design fosters rapid experimentation and prototyping, pushing hard on the limits of creativity.']

In [291]:
#contributers count is having a problem as it has differnt xpaths for contributer count and some of them is not interacting properly as well
#so i'm creating the dataframe with the data it's able to scrape
count2=[]
for i in url[0:6]:
    driver4.get(i)
    time.sleep(5)
    try:
        count1=driver4.find_elements(By.XPATH,'//div[@class="Layout-sidebar"]/div/div[4]/div/h2/a/span')
        for p in count1:                     
            count2.append(p.text)
    except NoSuchElementException:
        count1=driver4.find_elements(By.XPATH,'//div[@class="Layout-sidebar"]/div/div[3]/div/h2/a/span')
        for p in count1:                     
            count2.append(p.text)
    except NoSuchElementException:
        count1=driver4.find_elements(By.XPATH,'//div[@class="Layout-sidebar"]/div/div[5]/div/h2/a/span')
        for p in count1:                     
            count2.append(p.text)
    except NoSuchElementException:                     
        count2.append('-')
count2

['7', '4,981']

In [294]:
count

['7',
 '',
 '',
 '',
 '79',
 '4,981',
 '2,863',
 '1,262',
 '1',
 '',
 '',
 '1',
 '765',
 '220',
 '',
 '',
 '1,260',
 '',
 '',
 '',
 '',
 '',
 '221',
 '43',
 '']

In [295]:
language

['Go',
 'Rust',
 'HTML',
 'Rust',
 'Lua',
 'TypeScript',
 '-',
 'Python',
 'Go',
 'Python',
 'TypeScript',
 'Shell',
 'TypeScript',
 'Python',
 'TypeScript',
 'Rust',
 'Vim Script',
 'Rust',
 '-',
 'Python',
 'TypeScript',
 'Python',
 'TypeScript',
 'C++',
 'JavaScript']

In [296]:
#step 5: creating a dataframe and putting scraped data into it
import pandas as pd
df4=pd.DataFrame({'Repository title':title,'Repository description':description,'Contributors count':count,'Language used':language})
df4

,Repository title,Repository description,Contributors count,Language used
0,plandex-ai / plandex,An AI coding engine for complex tasks,7,Go
1,HardhatChad / ore-cli,-,,Rust
2,PKUFlyingPig / cs-self-learning,计算机自学指南,,HTML
3,HardhatChad / ore,-,,Rust
4,AstroNvim / AstroNvim,AstroNvim is an aesthetic and feature-rich neo...,79,Lua
5,freeCodeCamp / freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,"4,981",TypeScript
6,EbookFoundation / free-programming-books,📚 Freely available programming books,"2,863",-
7,public-apis / public-apis,A collective list of free APIs,"1,262",Python
8,aurora-develop / aurora,free,1,Go
9,myshell-ai / JetMoE,Reaching LLaMA2 Performance with 0.1M Dollars,,Python
10,ixartz / SaaS-Boilerplate,🚀🎉📚 SaaS Boilerplate built with Next.js + Tail...,,TypeScript
11,dockur / windows,Windows in a Docker container.,1,Shell
12,kamranahmedse / developer-roadmap,"Interactive roadmaps, guides and other educati...",765,TypeScript
13,searxng / searxng,SearXNG is a free internet metasearch engine w...,220,Python
14,cloudflare / orange,-,,TypeScript
15,availproject / avail-light,-,,Rust
16,neovim / neovim,Vim-fork focused on extensibility and usability,"1,260",Vim Script
17,availproject / avail,-,,Rust
18,ossu / computer-science,🎓 Path to a free self-taught education in Comp...,,-
19,FoundationVision / VAR,[GPT beats diffusion🔥] [scaling laws in visual...,,Python
20,pagefaultgames / pokerogue,-,,TypeScript
21,donnemartin / system-design-primer,Learn how to design large-scale systems. Prep ...,,Python
22,refinedev / refine,"A React Framework for building internal tools,...",221,TypeScript
23,jrouwe / JoltPhysics,A multi core friendly rigid body physics and c...,43,C++
24,logspace-ai / langflow,⛓️ Langflow is a dynamic graph where each node...,,JavaScript

# Q5

In [181]:
#question 5
driver5=webdriver.Chrome()

In [182]:
#step 1: get the link
driver5.get('https://www.billboard.com/')

In [183]:
#step 2: click on charts button
charts=driver5.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
charts.click()

In [185]:
#step 3: click on billboard hot 100 view charts button
hot100=driver5.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
hot100.click()

In [186]:
#step 4: scraping the data
#scraping song name
s_name=[]
s_name1=driver5.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3')
for i in s_name1:
    s_name.append(i.text)
s_name

['Like That',
 'Type Shit',
 'Beautiful Things',
 'Lose Control',
 'Too Sweet',
 'Cinderella',
 'Lovin On Me',
 "We Don't Trust You",
 'Young Metro',
 "We Can't Be Friends (Wait For Your Love)",
 "Texas Hold 'Em",
 'Carnival',
 'Ice Attack',
 'Obsessed',
 'I Remember Everything',
 'Cruel Summer',
 'Greedy',
 'Stick Season',
 'Water',
 'Slimed In',
 'End Of Beginning',
 'Agora Hills',
 'Snooze',
 'Claustrophobic',
 'Fast Car',
 'Saturn',
 'Magic Don Juan (Princess Diana)',
 'Get It Sexyy',
 'Never Lose Me',
 'Redrum',
 'Act II: Date @ 8',
 'Whatever She Wants',
 'Fried (She A Vibe)',
 'Made For Me',
 'Feather',
 'Runnin Outta Time',
 'Man Made A Bar',
 'Everyday Hustle',
 'Truck Bed',
 'GTA',
 "Ain't No Love",
 'Houdini',
 'Paint The Town Red',
 'Enough (Miami)',
 'Slow It Down',
 'Selfish',
 "Is It Over Now? (Taylor's Version) [From The Vault]",
 '23',
 'Yeah Glo!',
 'Where The Wild Things Are',
 'Burn It Down',
 'WTFYM',
 'Austin',
 'Seen It All',
 'Wild Ones',
 'La Diabla',
 'Exes',
 'So American',
 'Wildflowers And Wild Horses',
 'The Boy Is Mine',
 'Yes, And?',
 'Where My Twin @',
 'Get In With Me',
 'Soak City',
 'Scared To Start',
 'Everybody',
 'Praise Jah In The Moonlight',
 "Mamaw's House",
 'La People II',
 'I Like The Way You Kiss Me',
 'Training Season',
 'Punteria',
 'Corazon de Piedra',
 'One Of The Girls',
 'Stranger',
 'Mmhmm',
 'Bandit',
 'Surround Sound',
 'Where It Ends',
 'Supernatural',
 'Tu Name',
 'FTCU',
 'Gata Only',
 'I Can Feel It',
 'Breathe',
 'Bye',
 'Eternal Sunshine',
 'Wildflower And Barley',
 'Sensational',
 'Scared Of My Guitar',
 'Spin You Around (1/24)',
 'One Call',
 'Best For Me',
 'You Broke My Heart',
 'Home',
 'La Victima',
 'Tucson Too Late',
 'Empire Now',
 "Girl I've Always Been",
 'Outskirts']

In [187]:
#scraping artist name
a_name=[]
a_name1=driver5.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul/li[1]/span')
for i in a_name1:
    a_name.append(i.text)
a_name

['Future, Metro Boomin & Kendrick Lamar',
 'Future, Metro Boomin, Travis Scott & Playboi Carti',
 'Benson Boone',
 'Teddy Swims',
 'Hozier',
 'Future, Metro Boomin & Travis Scott',
 'Jack Harlow',
 'Future & Metro Boomin',
 'Future, Metro Boomin & The Weeknd',
 'Ariana Grande',
 'Beyonce',
 '¥$: Ye & Ty Dolla $ign Featuring Rich The Kid & Playboi Carti',
 'Future & Metro Boomin',
 'Olivia Rodrigo',
 'Zach Bryan Featuring Kacey Musgraves',
 'Taylor Swift',
 'Tate McRae',
 'Noah Kahan',
 'Tyla',
 'Future & Metro Boomin',
 'Djo',
 'Doja Cat',
 'SZA',
 'Future & Metro Boomin',
 'Luke Combs',
 'SZA',
 'Future & Metro Boomin',
 'Sexyy Red',
 'Flo Milli',
 '21 Savage',
 '4Batz Featuring Drake',
 'Bryson Tiller',
 'Future & Metro Boomin',
 'Muni Long',
 'Sabrina Carpenter',
 'Future & Metro Boomin',
 'Morgan Wallen Featuring Eric Church',
 'Future, Metro Boomin & Rick Ross',
 'HARDY',
 'Future & Metro Boomin',
 'Future & Metro Boomin',
 'Dua Lipa',
 'Doja Cat',
 'Cardi B',
 'Benson Boone',
 'Justin Timberlake',
 'Taylor Swift',
 'Chayce Beckham',
 'GloRilla',
 'Luke Combs',
 'Parker McCollum',
 'Future & Metro Boomin',
 'Dasha',
 'Future & Metro Boomin',
 'Jessie Murph & Jelly Roll',
 'Xavi',
 'Tate McRae',
 'Olivia Rodrigo',
 'Lainey Wilson',
 'Ariana Grande',
 'Ariana Grande',
 'Future & Metro Boomin',
 'BossMan Dlow',
 '310babii',
 'Michael Marcagi',
 'Nicki Minaj Featuring Lil Uzi Vert',
 'YG Marley',
 'Thomas Rhett Featuring Morgan Wallen',
 'Peso Pluma, Tito Double P & Joel de La P',
 'Artemas',
 'Dua Lipa',
 'Shakira & Cardi B',
 'Xavi',
 'The Weeknd, Jennie & Lily Rose Depp',
 'Olivia Rodrigo',
 'BigXthaPlug',
 'Don Toliver',
 'JID Featuring 21 Savage & Baby Tate',
 'Bailey Zimmerman',
 'Ariana Grande',
 'Fuerza Regida',
 'Nicki Minaj',
 'FloyyMenor X Cris Mj',
 'Kane Brown',
 'Yeat',
 'Ariana Grande',
 'Ariana Grande',
 'Hozier & Allison Russell',
 'Chris Brown Featuring Davido & Lojay',
 'Olivia Rodrigo',
 'Morgan Wallen',
 'Rich Amiri',
 'Joyner Lucas & Jelly Roll',
 'Drake',
 'Good Neighbours',
 'Xavi',
 'Jordan Davis',
 'Hozier',
 'Olivia Rodrigo',
 'Sam Hunt']

In [188]:
#scraping last week rank
last_w_r=[]
l2=driver5.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul/li[4]/span')
for i in l2:
    last_w_r.append(i.text)
last_w_r

['-',
 '-',
 '2',
 '1',
 '-',
 '-',
 '4',
 '-',
 '-',
 '3',
 '6',
 '5',
 '-',
 '-',
 '7',
 '10',
 '8',
 '12',
 '20',
 '-',
 '11',
 '13',
 '14',
 '-',
 '18',
 '17',
 '-',
 '23',
 '15',
 '22',
 '19',
 '24',
 '-',
 '25',
 '26',
 '-',
 '28',
 '-',
 '27',
 '-',
 '-',
 '29',
 '32',
 '9',
 '-',
 '30',
 '31',
 '45',
 '35',
 '41',
 '42',
 '-',
 '59',
 '-',
 '37',
 '44',
 '43',
 '-',
 '48',
 '34',
 '36',
 '-',
 '50',
 '53',
 '56',
 '51',
 '62',
 '55',
 '-',
 '-',
 '61',
 '-',
 '-',
 '58',
 '-',
 '70',
 '60',
 '57',
 '67',
 '40',
 '74',
 '71',
 '98',
 '63',
 '64',
 '52',
 '49',
 '-',
 '73',
 '-',
 '78',
 '75',
 '-',
 '69',
 '80',
 '77',
 '81',
 '-',
 '-',
 '92']

In [189]:
#scraping peak rank
peak_r=[]
p1=driver5.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul/li[5]/span')
for i in p1:
    peak_r.append(i.text)
peak_r

['1',
 '2',
 '2',
 '1',
 '5',
 '6',
 '1',
 '8',
 '9',
 '1',
 '1',
 '1',
 '13',
 '14',
 '1',
 '1',
 '3',
 '10',
 '7',
 '20',
 '11',
 '7',
 '2',
 '24',
 '2',
 '6',
 '27',
 '23',
 '15',
 '5',
 '7',
 '19',
 '33',
 '20',
 '26',
 '36',
 '15',
 '38',
 '27',
 '40',
 '41',
 '11',
 '1',
 '9',
 '45',
 '19',
 '1',
 '45',
 '35',
 '26',
 '42',
 '52',
 '53',
 '54',
 '35',
 '20',
 '34',
 '58',
 '48',
 '16',
 '1',
 '62',
 '49',
 '53',
 '56',
 '24',
 '34',
 '55',
 '69',
 '70',
 '27',
 '72',
 '73',
 '51',
 '75',
 '65',
 '38',
 '40',
 '32',
 '17',
 '66',
 '15',
 '83',
 '50',
 '42',
 '25',
 '23',
 '88',
 '71',
 '90',
 '24',
 '60',
 '93',
 '11',
 '77',
 '46',
 '81',
 '98',
 '99',
 '92']

In [190]:
#scraping weeks on board
weeks_o_b=[]
w1=driver5.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul/li[6]/span')
for i in w1:
    weeks_o_b.append(i.text)
weeks_o_b

['1',
 '1',
 '10',
 '33',
 '1',
 '1',
 '20',
 '1',
 '1',
 '3',
 '7',
 '7',
 '1',
 '1',
 '31',
 '47',
 '28',
 '26',
 '26',
 '1',
 '6',
 '27',
 '67',
 '1',
 '53',
 '5',
 '1',
 '2',
 '15',
 '11',
 '12',
 '6',
 '1',
 '11',
 '17',
 '1',
 '27',
 '1',
 '41',
 '1',
 '1',
 '20',
 '34',
 '2',
 '1',
 '9',
 '22',
 '13',
 '7',
 '19',
 '23',
 '1',
 '3',
 '1',
 '25',
 '15',
 '19',
 '1',
 '9',
 '3',
 '11',
 '1',
 '8',
 '15',
 '6',
 '16',
 '9',
 '13',
 '1',
 '1',
 '6',
 '1',
 '1',
 '14',
 '1',
 '14',
 '8',
 '20',
 '13',
 '3',
 '6',
 '16',
 '2',
 '13',
 '6',
 '3',
 '3',
 '1',
 '8',
 '1',
 '9',
 '9',
 '1',
 '19',
 '8',
 '15',
 '4',
 '1',
 '1',
 '3']

In [191]:
#step 5: creating a dataframe and putting the scraped data into it
import pandas as pd
df5=pd.DataFrame({'Song Name':s_name,'Artist Name':a_name,'Last Week Rank':last_w_r,'Peak Rank':peak_r,'Weeks On Board':weeks_o_b})
df5

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board
0,Like That,"Future, Metro Boomin & Kendrick Lamar",-,1,1
1,Type Shit,"Future, Metro Boomin, Travis Scott & Playboi C...",-,2,1
2,Beautiful Things,Benson Boone,2,2,10
3,Lose Control,Teddy Swims,1,1,33
4,Too Sweet,Hozier,-,5,1
...,...,...,...,...,...
95,La Victima,Xavi,77,46,15
96,Tucson Too Late,Jordan Davis,81,81,4
97,Empire Now,Hozier,-,98,1
98,Girl I've Always Been,Olivia Rodrigo,-,99,1
99,Outskirts,Sam Hunt,92,92,3

# Q6

In [195]:
#question 6
driver6=webdriver.Chrome()

In [196]:
#step 1: get the link
driver6.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [198]:
#step 2:scraping the data
#scraping book name
b_name=[]
b_name1=driver6.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in b_name1:
    b_name.append(i.text)
b_name

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey',
 'Harry Potter and the Goblet of Fire',
 'Harry Potter and the Chamber of Secrets',
 'Harry Potter and the Prisoner of Azkaban',
 'Angels and Demons',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Fifty Shades Darker',
 'Twilight',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Fifty Shades Freed',
 'Lost Symbol,The',
 'New Moon',
 'Deception Point',
 'Eclipse',
 'Lovely Bones,The',
 'Curious Incident of the Dog in the Night-time,The',
 'Digital Fortress',
 'Short History of Nearly Everything,A',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Breaking Dawn',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Gruffalo,The',
 "Jamie's 30-Minute Meals",
 'Kite Runner,The',
 'One Day',
 'Thousand Splendid Suns,A',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 "Time Traveler's Wife,The",
 'Atonement',
 "Bridget Jones's Diary:A Novel",
 'World According to Clarkson,The',
 "Captain Corelli's Mandolin",
 'Sound of Laughter,The',
 'Life of Pi',
 'Billy Connolly',
 'Child Called It,A',
 "Gruffalo's Child,The",
 "Angela's Ashes:A Memoir of a Childhood",
 'Birdsong',
 'Northern Lights:His Dark Materials S.',
 'Labyrinth',
 'Harry Potter and the Half-blood Prince',
 'Help,The',
 'Man and Boy',
 'Memoirs of a Geisha',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'Island,The',
 'PS, I Love You',
 'You are What You Eat:The Plan That Will Change Your Life',
 'Shadow of the Wind,The',
 'Tales of Beedle the Bard,The',
 'Broker,The',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Subtle Knife,The:His Dark Materials S.',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 "Delia's How to Cook:(Bk.1)",
 'Chocolat',
 'Boy in the Striped Pyjamas,The',
 "My Sister's Keeper",
 'Amber Spyglass,The:His Dark Materials S.',
 'To Kill a Mockingbird',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Dear Fatty',
 'Short History of Tractors in Ukrainian,A',
 'Hannibal',
 'Lord of the Rings,The',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Interpretation of Murder,The',
 'Sharon Osbourne Extreme:My Autobiography',
 'Alchemist,The:A Fable About Following Your Dream',
 "At My Mother's Knee ...:and Other Low Joints",
 'Notes from a Small Island',
 'Return of the Naked Chef,The',
 'Bridget Jones: The Edge of Reason',
 "Jamie's Italy",
 'I Can Make You Thin',
 'Down Under',
 'Summons,The',
 'Small Island',
 'Nigella Express',
 'Brick Lane',
 "Memory Keeper's Daughter,The",
 'Room on the Broom',
 'About a Boy',
 'My Booky Wook',
 'God Delusion,The',
 '"Beano" Annual,The',
 'White Teeth',
 'House at Riverton,The',
 'Book Thief,The',
 'Nights of Rain and Stars',
 'Ghost,The',
 'Happy Days with the Naked Chef',
 'Hunger Games,The:Hunger Games Trilogy',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [199]:
#scraping author name
a_name=[]
a_name1=driver6.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in a_name1:
    a_name.append(i.text)
a_name

['Brown, Dan',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'James, E. L.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Brown, Dan',
 'Rowling, J.K.',
 'James, E. L.',
 'Meyer, Stephenie',
 'Larsson, Stieg',
 'James, E. L.',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Sebold, Alice',
 'Haddon, Mark',
 'Brown, Dan',
 'Bryson, Bill',
 'Larsson, Stieg',
 'Meyer, Stephenie',
 'Carle, Eric',
 'Donaldson, Julia',
 'Oliver, Jamie',
 'Hosseini, Khaled',
 'Nicholls, David',
 'Hosseini, Khaled',
 'Larsson, Stieg',
 'Niffenegger, Audrey',
 'McEwan, Ian',
 'Fielding, Helen',
 'Clarkson, Jeremy',
 'Bernieres, Louis de',
 'Kay, Peter',
 'Martel, Yann',
 'Stephenson, Pamela',
 'Pelzer, Dave',
 'Donaldson, Julia',
 'McCourt, Frank',
 'Faulks, Sebastian',
 'Pullman, Philip',
 'Mosse, Kate',
 'Rowling, J.K.',
 'Stockett, Kathryn',
 'Parsons, Tony',
 'Golden, Arthur',
 'McCall Smith, Alexander',
 'Hislop, Victoria',
 'Ahern, Cecelia',
 'McKeith, Gillian',
 'Zafon, Carlos Ruiz',
 'Rowling, J.K.',
 'Grisham, John',
 'Atkins, Robert C.',
 'Pullman, Philip',
 'Truss, Lynne',
 'Smith, Delia',
 'Harris, Joanne',
 'Boyne, John',
 'Picoult, Jodi',
 'Pullman, Philip',
 'Lee, Harper',
 'Gray, John',
 'French, Dawn',
 'Lewycka, Marina',
 'Harris, Thomas',
 'Tolkien, J. R. R.',
 'Moore, Michael',
 'Rubenfeld, Jed',
 'Osbourne, Sharon',
 'Coelho, Paulo',
 "O'Grady, Paul",
 'Bryson, Bill',
 'Oliver, Jamie',
 'Fielding, Helen',
 'Oliver, Jamie',
 'McKenna, Paul',
 'Bryson, Bill',
 'Grisham, John',
 'Levy, Andrea',
 'Lawson, Nigella',
 'Ali, Monica',
 'Edwards, Kim',
 'Donaldson, Julia',
 'Hornby, Nick',
 'Brand, Russell',
 'Dawkins, Richard',
 '0',
 'Smith, Zadie',
 'Morton, Kate',
 'Zusak, Markus',
 'Binchy, Maeve',
 'Harris, Robert',
 'Oliver, Jamie',
 'Collins, Suzanne',
 'Pelzer, Dave',
 'Oliver, Jamie']

In [202]:
#scraping volumes sold
v_sold=[]
v_sold1=driver6.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in v_sold1:
    v_sold.append(i.text)
v_sold

['5,094,805',
 '4,475,152',
 '4,200,654',
 '4,179,479',
 '3,758,936',
 '3,583,215',
 '3,484,047',
 '3,377,906',
 '3,193,946',
 '2,950,264',
 '2,479,784',
 '2,315,405',
 '2,233,570',
 '2,193,928',
 '2,183,031',
 '2,152,737',
 '2,062,145',
 '2,052,876',
 '2,005,598',
 '1,979,552',
 '1,928,900',
 '1,852,919',
 '1,814,784',
 '1,787,118',
 '1,783,535',
 '1,781,269',
 '1,743,266',
 '1,629,119',
 '1,616,068',
 '1,583,992',
 '1,555,135',
 '1,546,886',
 '1,539,428',
 '1,508,205',
 '1,489,403',
 '1,352,318',
 '1,310,207',
 '1,310,176',
 '1,231,957',
 '1,217,712',
 '1,208,711',
 '1,204,058',
 '1,184,967',
 '1,181,503',
 '1,181,093',
 '1,153,181',
 '1,132,336',
 '1,130,802',
 '1,126,337',
 '1,115,549',
 '1,108,328',
 '1,107,379',
 '1,104,403',
 '1,092,349',
 '1,090,847',
 '1,087,262',
 '1,054,196',
 '1,037,160',
 '1,023,688',
 '1,015,956',
 '1,009,873',
 '1,004,414',
 '1,003,780',
 '1,002,314',
 '998,213',
 '992,846',
 '986,753',
 '986,115',
 '970,509',
 '967,466',
 '963,353',
 '962,515',
 '959,496',
 '956,114',
 '945,640',
 '931,312',
 '925,425',
 '924,695',
 '906,968',
 '905,086',
 '890,847',
 '869,671',
 '869,659',
 '862,602',
 '856,540',
 '845,858',
 '842,535',
 '828,215',
 '820,563',
 '816,907',
 '816,585',
 '815,586',
 '814,370',
 '809,641',
 '808,900',
 '807,311',
 '794,201',
 '792,187',
 '791,507',
 '791,095']

In [203]:
#scraping publisher data
publisher=[]
p1=driver6.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in p1:
    publisher.append(i.text)
publisher

['Transworld',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Random House',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Transworld',
 'Bloomsbury',
 'Random House',
 'Little, Brown Book',
 'Quercus',
 'Random House',
 'Transworld',
 'Little, Brown Book',
 'Transworld',
 'Little, Brown Book',
 'Pan Macmillan',
 'Random House',
 'Transworld',
 'Transworld',
 'Quercus',
 'Little, Brown Book',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Bloomsbury',
 'Hodder & Stoughton',
 'Bloomsbury',
 'Quercus',
 'Random House',
 'Random House',
 'Pan Macmillan',
 'Penguin',
 'Random House',
 'Random House',
 'Canongate',
 'HarperCollins',
 'Orion',
 'Pan Macmillan',
 'HarperCollins',
 'Random House',
 'Scholastic Ltd.',
 'Orion',
 'Bloomsbury',
 'Penguin',
 'HarperCollins',
 'Random House',
 'Little, Brown Book',
 'Headline',
 'HarperCollins',
 'Penguin',
 'Orion',
 'Bloomsbury',
 'Random House',
 'Random House',
 'Scholastic Ltd.',
 'Profile Books Group',
 'Random House',
 'Transworld',
 'Random House Childrens Books G',
 'Hodder & Stoughton',
 'Scholastic Ltd.',
 'Random House',
 'HarperCollins',
 'Random House',
 'Penguin',
 'Random House',
 'HarperCollins',
 'Penguin',
 'Headline',
 'Little, Brown Book',
 'HarperCollins',
 'Transworld',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Transworld',
 'Transworld',
 'Random House',
 'Headline',
 'Random House',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Hodder & Stoughton',
 'Transworld',
 'D.C. Thomson',
 'Penguin',
 'Pan Macmillan',
 'Transworld',
 'Orion',
 'Random House',
 'Penguin',
 'Scholastic Ltd.',
 'Orion',
 'Penguin']

In [205]:
#scraping genre data
genre=[]
g1=driver6.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in g1:
    genre.append(i.text)
genre

['Crime, Thriller & Adventure',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Romance & Sagas',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 "Children's Fiction",
 'Romance & Sagas',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Romance & Sagas',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Popular Science',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Picture Books',
 'Picture Books',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Humour: Collections & General',
 'General & Literary Fiction',
 'Autobiography: General',
 'General & Literary Fiction',
 'Biography: The Arts',
 'Autobiography: General',
 'Picture Books',
 'Autobiography: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Science Fiction & Fantasy',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Fitness & Diet',
 'General & Literary Fiction',
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 'Fitness & Diet',
 'Young Adult Fiction',
 'Usage & Writing Guides',
 'Food & Drink: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Popular Culture & Media: General Interest',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Science Fiction & Fantasy',
 'Current Affairs & Issues',
 'Crime, Thriller & Adventure',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Travel Writing',
 'Food & Drink: General',
 'General & Literary Fiction',
 'National & Regional Cuisine',
 'Fitness & Diet',
 'Travel Writing',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Picture Books',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Popular Science',
 "Children's Annuals",
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Food & Drink: General',
 'Young Adult Fiction',
 'Biography: General',
 'Food & Drink: General']

In [206]:
#step 3: creating a dataframe and putting scraped data into it
import pandas as pd
df6=pd.DataFrame({'Book Name':b_name,'Author Name':a_name,'Volumes Sold':v_sold,'Publisher':publisher,'Genre':genre})
df6

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Q7

In [264]:
#site is not working
driver7=webdriver.Chrome()

In [265]:
driver7.get('https://www.imdb.com/list/ls095964455/')

# Q8

In [218]:
#question 8
driver8=webdriver.Chrome()

In [219]:
#step 1: get the datasets link
driver8.get('https://archive.ics.uci.edu/')

In [220]:
driver8.maximize_window()

In [221]:
#step 2: click on view datasets button
view_datasets=driver8.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
view_datasets.click()

In [248]:
#step 3: scraping the data
#scraping datasets name
#using this we can scraping with going to next button as well
Da_name=[]
for p in range(0,2):
    Dname1=driver8.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]')
    
    for i in Dname1:
        Da_name.append(i.text)
    next=driver8.find_element(By.XPATH,'//div[@class="btn-group"]/button[2]')
    driver8.execute_script("arguments[0].click();",next)
    #driver.execute_script("arguments[0].click();", button)
    time.sleep(3)
Da_name

['Iris',
 'Dry Bean',
 'Heart Disease',
 'Rice (Cammeo and Osmancik)',
 'Adult',
 'Raisin',
 'Breast Cancer Wisconsin (Diagnostic)',
 'Wine',
 'Wine Quality',
 'Diabetes',
 'Bank Marketing',
 'Car Evaluation',
 'Mushroom',
 'Abalone',
 'Student Performance',
 'Online Retail',
 'Statlog (German Credit Data)',
 'Census Income',
 'Automobile',
 'Breast Cancer']

In [254]:
#as it's not stated in questionhow much data we have to scrape i'm only scraping 10 rows
#scraping Datasets name
Dname=[]
Dname1=driver8.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]')    
for i in Dname1:
    Dname.append(i.text)
Dname

['Iris',
 'Dry Bean',
 'Heart Disease',
 'Rice (Cammeo and Osmancik)',
 'Adult',
 'Raisin',
 'Breast Cancer Wisconsin (Diagnostic)',
 'Wine',
 'Wine Quality',
 'Diabetes']

In [255]:
len(Dname)

10

In [224]:
#scraping Dataset type
Dtype=[]
Dtype1=driver8.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/div/div[2]')
for i in Dtype1:
    Dtype.append(i.text)
Dtype

['Tabular',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Tabular',
 'Multivariate',
 'Multivariate, Time-Series']

In [256]:
len(Dtype)

10

In [225]:
#scraping task
task=[]
task1=driver8.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/div/div[1]')
for i in task1:
    task.append(i.text)
task

['Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification, Regression',
 'Classification']

In [257]:
len(task)

10

In [231]:
#scraping no. of attributes
no_o_a=[]
n2=driver8.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/div/div[4]')
for i in n2:
    no_o_a.append(i.text)
no_o_a

['4 Features',
 '16 Features',
 '13 Features',
 '7 Features',
 '14 Features',
 '8 Features',
 '30 Features',
 '13 Features',
 '12 Features',
 '20 Features']

In [258]:
len(no_o_a)

10

In [226]:
#scraping no. of instances
no_o_i=[]
n1=driver8.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/div/div[3]')
for i in n1:
    no_o_i.append(i.text)
no_o_i

['150 Instances',
 '13.61K Instances',
 '303 Instances',
 '3.81K Instances',
 '48.84K Instances',
 '900 Instances',
 '569 Instances',
 '178 Instances',
 '4.9K Instances',
 '1 Instances']

In [259]:
len(no_o_i)

10

In [228]:
#scraping url
url=[]
url1=driver8.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]/a')
for i in url1:
    url.append(i.get_attribute('href'))
url

['https://archive.ics.uci.edu/dataset/53/iris',
 'https://archive.ics.uci.edu/dataset/602/dry+bean+dataset',
 'https://archive.ics.uci.edu/dataset/45/heart+disease',
 'https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik',
 'https://archive.ics.uci.edu/dataset/2/adult',
 'https://archive.ics.uci.edu/dataset/850/raisin',
 'https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic',
 'https://archive.ics.uci.edu/dataset/109/wine',
 'https://archive.ics.uci.edu/dataset/186/wine+quality',
 'https://archive.ics.uci.edu/dataset/34/diabetes']

In [260]:
len(url)

10

In [236]:
#scraping date donated
#scraping attribute type
year=[]
attribute_type=[]
for i in url:
    driver8.get(i)
    time.sleep(5)
    try:
        year1=driver8.find_element(By.XPATH,'//h2[@class="text-sm text-primary-content"]')
        year.append(year1.text)
    except NoSuchElementException:
        year.append('-')
    
    try:
        at1=driver8.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[4]/p')
        attribute_type.append(at1.text)
    except NoSuchElementException:
        attribute_type.append('-')
year

['Donated on 6/30/1988',
 'Donated on 9/13/2020',
 'Donated on 6/30/1988',
 'Donated on 10/5/2019',
 'Donated on 4/30/1996',
 'Donated on 8/13/2023',
 'Donated on 10/31/1995',
 'Donated on 6/30/1991',
 'Donated on 10/6/2009',
 '-']

In [261]:
len(year)

10

In [237]:
attribute_type

['Real',
 'Integer, Real',
 'Categorical, Integer, Real',
 'Real',
 'Categorical, Integer',
 'Real, Integer',
 'Real',
 'Integer, Real',
 'Real',
 'Categorical, Integer']

In [262]:
len(attribute_type)

10

In [263]:
#creating a dataframe andputting the scraped data into it
import pandas as pd
df8=pd.DataFrame({'Dataset Name':Dname,'Data Type':Dtype,'Task':task,'Attribute Type':attribute_type,'No. Of Instances':no_o_i,'No. Of Attribute':no_o_a,'Year/Date Donated':year})
df8

,Dataset Name,Data Type,Task,Attribute Type,No. Of Instances,No. Of Attribute,Year/Date Donated
0,Iris,Tabular,Classification,Real,150 Instances,4 Features,Donated on 6/30/1988
1,Dry Bean,Multivariate,Classification,"Integer, Real",13.61K Instances,16 Features,Donated on 9/13/2020
2,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Features,Donated on 6/30/1988
3,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K Instances,7 Features,Donated on 10/5/2019
4,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features,Donated on 4/30/1996
5,Raisin,Multivariate,Classification,"Real, Integer",900 Instances,8 Features,Donated on 8/13/2023
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,30 Features,Donated on 10/31/1995
7,Wine,Tabular,Classification,"Integer, Real",178 Instances,13 Features,Donated on 6/30/1991
8,Wine Quality,Multivariate,"Classification, Regression",Real,4.9K Instances,12 Features,Donated on 10/6/2009
9,Diabetes,"Multivariate, Time-Series",Classification,"Categorical, Integer",1 Instances,20 Features,-