# NAME - SUBHAM
# BATCH - DS2401
# WEB SCRAPING SELENIUM PRACTICE QUESTIONS
# DATE WHEN PRACTICE QUESTION WERE GIVEN - 4 MARCH 2024

In [61]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\dell\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\dell\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [62]:
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [84]:
#question 1
driver = webdriver.Chrome()

In [85]:
#steps 1: get the webpage
driver.get('https://www.shine.com/ ')

In [87]:
#step 2: enter data analyst in the jobs,skills field and enter bangalore in the location field 
designation=driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Analyst')

In [88]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [89]:
#step 3: click the search button
search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [90]:
#step 4: scraping 10 job results
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [91]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="parentClass position-relative"]//div//div//div//h2//a')
for i in title_tags:
    title=i.text
    job_title.append(title)
job_title[0:10]

['Clinical Data Analyst',
 'Data Analyst',
 'Hiring For Data Analyst',
 'Lead Data Analyst',
 'Data Analyst',
 'Technical Data Architect',
 'Data Science Architect',
 'Data Engineer',
 'Clinical Data Associate',
 'Part-Time Data Entry Operator work']

In [92]:
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location=i.text
    job_location.append(location)
job_location[:10]

['Bangalore\n+6',
 'Bangalore\n+9',
 'Bangalore\n+12',
 'Bangalore',
 'Bangalore\n+3',
 'Bangalore',
 'Bangalore\n+4',
 'Bangalore',
 'Bangalore\n+6',
 'Bangalore\n+9']

In [93]:
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]//span')
for i in company_tags:
    company=i.text
    company_name.append(company)
company_name[:10]

['techno endura',
 'sahast sales corporation',
 'radhika enterprises',
 'ara resources private limited',
 'diraa hr services hiring for mncs',
 'uprighthc solutions private limited',
 'symphoni hr pvt. ltd.',
 'spm hr solutions',
 'techno endura',
 'aspect solution']

In [94]:
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    exp=i.text
    experience_required.append(exp)
experience_required[:10]

['0 to 1 Yr',
 '12 to 22 Yrs',
 '0 to 4 Yrs',
 '4 to 9 Yrs',
 '0 to 1 Yr',
 '10 to 20 Yrs',
 '8 to 10 Yrs',
 '4 to 6 Yrs',
 '0 to 1 Yr',
 '0 to 1 Yr']

In [95]:
#step 5: creating a dataframe and putting values into it
import pandas as pd
df=pd.DataFrame({'job titles':job_title[:10],'job location':job_location[:10],'company name':company_name[:10],'experience required':experience_required[:10]})
df

,job titles,job location,company name,experience required
0,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
1,Data Analyst,Bangalore\n+9,sahast sales corporation,12 to 22 Yrs
2,Hiring For Data Analyst,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
3,Lead Data Analyst,Bangalore,ara resources private limited,4 to 9 Yrs
4,Data Analyst,Bangalore\n+3,diraa hr services hiring for mncs,0 to 1 Yr
5,Technical Data Architect,Bangalore,uprighthc solutions private limited,10 to 20 Yrs
6,Data Science Architect,Bangalore\n+4,symphoni hr pvt. ltd.,8 to 10 Yrs
7,Data Engineer,Bangalore,spm hr solutions,4 to 6 Yrs
8,Clinical Data Associate,Bangalore\n+6,techno endura,0 to 1 Yr
9,Part-Time Data Entry Operator work,Bangalore\n+9,aspect solution,0 to 1 Yr

In [96]:
#question 2
driver1=webdriver.Chrome()

In [97]:
#steps 1: get the webpage
driver1.get('https://www.naukri.com/')

In [98]:
#step 2: enter data analyst in the jobs,skills field and enter bangalore in the location field 
designation1=driver1.find_element(By.CLASS_NAME,"suggestor-input ")
designation1.send_keys('Data Analyst')

In [99]:
location1=driver1.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location1.send_keys('bangalore')

In [100]:
#step 3: click the search button
search1=driver1.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[6]')
search1.click()

In [101]:
#step 4: scraping the results
title1=[]
location1=[]
company1=[]
experience1=[]

In [102]:
title=driver1.find_elements(By.XPATH,'//div[@class=" row1"]//a')
for i in title:
    title2=i.text
    title1.append(title2)
title1

['Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 '',
 '',
 '',
 'Data Analyst',
 'Data Analyst',
 'Job opportunity _ Data Analyst',
 'Data Sourcing & Triage Analyst',
 'Online Data Analyst',
 'Data Analyst',
 'Data Services Analyst III',
 'AWS Data Engineer/Data Analyst - Need Immediate_Deloitte',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Platform Data Analyst',
 'Data Analyst',
 'ETL - Data Analyst',
 'Data Analyst (automotive)',
 'FHIR Data Analyst']

In [103]:
#there are 20 elements in all other data but only this class of job title has 25 so i have deleted the extra data
#any class i'm taking it's having 25 or more elements so i have to do it this way
title1.pop(3)
title1.pop(4)
title1.pop(5)
title1.pop(6)
title1.pop(7)
print(title1)

['Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', '', 'Data Analyst', 'Job opportunity _ Data Analyst', 'Online Data Analyst', 'Data Analyst', 'Data Services Analyst III', 'AWS Data Engineer/Data Analyst - Need Immediate_Deloitte', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Platform Data Analyst', 'Data Analyst', 'ETL - Data Analyst', 'Data Analyst (automotive)', 'FHIR Data Analyst']

In [104]:
len(title1)

20

In [105]:
title1

['Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 '',
 'Data Analyst',
 'Job opportunity _ Data Analyst',
 'Online Data Analyst',
 'Data Analyst',
 'Data Services Analyst III',
 'AWS Data Engineer/Data Analyst - Need Immediate_Deloitte',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Platform Data Analyst',
 'Data Analyst',
 'ETL - Data Analyst',
 'Data Analyst (automotive)',
 'FHIR Data Analyst']

In [106]:
location=driver1.find_elements(By.XPATH,'//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-location loc"]//span')
for i in location:
    location2=i.text
    location1.append(location2)
location1

['Bengaluru',
 'Mumbai, Bengaluru',
 'Remote',
 'Hybrid - Bangalore Rural, Karnataka, Hyderabad, Telangana, Chennai, Tamil Nadu',
 'Bengaluru(4th Phase JP Nagar)',
 'Bangalore Rural, Karnataka, Hyderabad, Telangana, India',
 'Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Hyderabad, Bengaluru, Delhi / NCR',
 'Bengaluru',
 'Bangalore Rural, Karnataka, Hyderabad, Telangana',
 'Hyderabad, Bengaluru',
 'Hyderabad, Bengaluru, Delhi / NCR',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Hybrid - Bengaluru(Bannerghatta Road)',
 'Bengaluru',
 'Bangalore/Bengaluru(Domlur)',
 'Bengaluru']

In [107]:
#there are only 16 company names others are present in website but they have an entire different class through i'm able to scrap
#at most these
company=driver1.find_elements(By.XPATH,'//a[@class=" comp-name mw-25"]')
for i in company:
    company2=i.text
    company1.append(company2)
company1

['Target',
 'FedEx TSCS (India) Pvt Ltd',
 'Puresoftware',
 'Tsit Digital Technologies',
 'Objectwin Technology',
 'Janes',
 'TELUS International',
 'Incanus Technologies',
 'Zoom Info',
 'Tata Consultancy Services (TCS)',
 'Softtek',
 'NetSkope Software',
 'Saltmine',
 'LKQ India',
 '2coms',
 'Infosys']

In [108]:
experience=driver1.find_elements(By.XPATH,'//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-experience exp"]//span')
for i in experience:
    experience2=i.text
    experience1.append(experience2)
experience1

['2-4 Yrs',
 '1-4 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '1-5 Yrs',
 '6-10 Yrs',
 '0-3 Yrs',
 '1-4 Yrs',
 '0-5 Yrs',
 '4-8 Yrs',
 '5-8 Yrs',
 '6-10 Yrs',
 '4-9 Yrs',
 '4-6 Yrs',
 '3-5 Yrs',
 '2-4 Yrs',
 '2-5 Yrs',
 '5-10 Yrs',
 '5-6 Yrs',
 '3-6 Yrs']

In [109]:
#step 5: creating a dataframe and storing first 10 results we get
df2=pd.DataFrame({'job titles':title1[:10],'job location':location1[:10],'compamy name':company1[:10],'experience required':experience1[:10]})
df2

,job titles,job location,compamy name,experience required
0,Data Analyst,Bengaluru,Target,2-4 Yrs
1,Data Analyst,"Mumbai, Bengaluru",FedEx TSCS (India) Pvt Ltd,1-4 Yrs
2,Data Analyst,Remote,Puresoftware,5-10 Yrs
3,Data Analyst,"Hybrid - Bangalore Rural, Karnataka, Hyderabad...",Tsit Digital Technologies,5-10 Yrs
4,,Bengaluru(4th Phase JP Nagar),Objectwin Technology,1-5 Yrs
5,Data Analyst,"Bangalore Rural, Karnataka, Hyderabad, Telanga...",Janes,6-10 Yrs
6,Job opportunity _ Data Analyst,Bengaluru,TELUS International,0-3 Yrs
7,Online Data Analyst,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Incanus Technologies,1-4 Yrs
8,Data Analyst,"Hyderabad, Bengaluru, Delhi / NCR",Zoom Info,0-5 Yrs
9,Data Services Analyst III,Bengaluru,Tata Consultancy Services (TCS),4-8 Yrs

In [110]:
#question 3
driver2=webdriver.Chrome()

In [111]:
#step 1: get the flipkart page url
driver2.get('https://www.flipkart.com/  ')

In [112]:
#step 2: type sunglasses in the search field
a=driver2.find_element(By.CLASS_NAME,"Pke_EE")
a.send_keys('sunglasses')

In [113]:
#step 3: clicking on the search button
b=driver2.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button')
b.click()

In [114]:
#step 4: scraping the data with clicking on the next button until data reaches 100(here page 3)
brand2=[]
product2=[]
price2=[]

In [122]:

brands=[]
start=0
end=3
for page in range(start,end):
    titles=driver2.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in titles:
        brands.append(i.text)
    next_button=driver2.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)
brands

['Singco India',
 'Singco India',
 'SRPM',
 'Fastrack',
 'Elligator',
 'Fastrack',
 'Aarna Fashion',
 'Singco India',
 'ROADWAY',
 'Fastrack',
 'Singco India',
 'Singco India',
 'Elligator',
 'peter india',
 'ROADWAY',
 'Elligator',
 'LOUIS KOUROS',
 'Singco India',
 'Aarna Fashion',
 'Elligator',
 'ROYAL SON',
 'Eyewearlabs',
 'Elligator',
 'VINCENT CHASE',
 'PIRASO',
 'Fastrack',
 'Eyewearlabs',
 'Nicole Miller',
 'Aarna Fashion',
 'Rich Club',
 'LOUIS KOUROS',
 'LOUIS KOUROS',
 'VINCENT CHASE',
 'PIRASO',
 'Capitalpoint',
 'Hooper',
 'Singco India',
 'EYELLUSION',
 'Fastrack',
 'Elligator',
 'Singco India',
 'Singco India',
 'VINCENT CHASE',
 'PIRASO',
 'SRPM',
 'PIRASO',
 'Singco India',
 'LOUIS KOUROS',
 'ROADWAY',
 'VINCENT CHASE',
 'Singco India',
 'ROYAL SON',
 'PIRASO',
 'PIRASO',
 'Elligator',
 'PIRASO',
 'Eyewearlabs',
 'Eyewearlabs',
 'Rich Club',
 'PIRASO',
 'Nicole Miller',
 'LOUIS KOUROS',
 'DEIXELS',
 'ROADWAY',
 'VINCENT CHASE',
 'Elligator',
 'Singco India',
 'LOUIS KOUROS',
 'PIRASO',
 'VINCENT CHASE',
 'EYELLUSION',
 'Singco India',
 'hipe',
 'ROZZETTA CRAFT',
 'PIRASO',
 'Fastrack',
 'AISLIN',
 'Irayz',
 'HRX by Hrithik Roshan',
 'RBGIIT',
 'AISLIN',
 'AISLIN',
 'ROYAL SON',
 'Ray-Ban',
 'OAKLEY',
 'Royaltail',
 'ROYAL SON',
 'Resist',
 'AISLIN',
 'Fastrack',
 'AISLIN',
 'AISLIN',
 'METRONAUT',
 'Ray-Ban',
 'Elligator',
 'john jacobs',
 'Ann Taylor',
 'ROYAL SON',
 'john jacobs',
 'VINCENT CHASE',
 'AISLIN',
 'Ann Taylor',
 'ROYAL SON',
 'hayden haiza',
 'AISLIN',
 'Lenskart STUDIO',
 'Ann Taylor',
 'Ann Taylor',
 'AISLIN',
 'IRUS',
 'Nicole Miller',
 'AMOUR',
 'VINCENT CHASE',
 'NuVew',
 'AISLIN',
 'HRX by Hrithik Roshan',
 'AISLIN',
 'AISLIN',
 'IRUS',
 'AISLIN']

In [123]:
len(brands)

120

In [124]:
product_description=[]
for page in range(0,3):
    product=driver2.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product:
        product_description.append(i.text)
    next=driver2.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next.click()
    time.sleep(3)
product_description

['UV Protection, Riding Glasses, Gradient Clubmaster Sung...',
 'Mirrored Wayfarer Sunglasses (50)',
 'UV Protection Wayfarer Sunglasses (58)',
 'UV Protection, Mirrored Wayfarer Sunglasses (52)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (50)',
 'UV Protection, Riding Glasses Retro Square, Rectangular...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'Riding Glasses, UV Protection Clubmaster, Wayfarer Sung...',
 'UV Protection Wayfarer Sunglasses (53)',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer, Sports, Spectacle , Retro Squar...',
 'UV Protection Wayfarer Sunglasses (50)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Retro Square Sunglasses (50)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'Polarized, UV Protection Retro Square Sunglasses (55)',
 'Polarized, UV Protection Wayfarer Sunglasses (51)',
 'UV Protection Retro Square Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Over-sized Sunglasses (60)',
 'UV Protection Aviator Sunglasses (58)',
 'Polarized Butterfly Sunglasses (64)',
 'UV Protection Sports Sunglasses (50)',
 'UV Protection Retro Square Sunglasses (54)',
 'Polarized, UV Protection Retro Square Sunglasses (54)',
 'by Lenskart UV Protection Wayfarer Sunglasses (59)',
 'UV Protection Over-sized Sunglasses (65)',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (45)',
 'Mirrored, UV Protection, Riding Glasses, Others Wrap-ar...',
 'Night Vision, Polarized, UV Protection, Riding Glasses ...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection, Riding Glasses Retro Square, Rectangular...',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Butterfly Sunglasses (60)',
 'UV Protection, Gradient Aviator Sunglasses (56)',
 'UV Protection Aviator Sunglasses (54)',
 'Riding Glasses, UV Protection Clubmaster, Wayfarer Sung...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'Polarized, UV Protection Retro Square Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Butterfly Sunglasses (60)',
 'UV Protection Wayfarer Sunglasses (52)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer Sunglasses (51)',
 'Polarized Butterfly Sunglasses (64)',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (54)',
 'Mirrored, UV Protection, Riding Glasses, Others Wrap-ar...',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection Retro Square, Wayfarer, Sports Sunglasses...',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'Polarized, UV Protection Retro Square Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (56)',
 'by Lenskart UV Protection Clubmaster Sunglasses (55)',
 'Night Vision, Polarized, UV Protection, Riding Glasses ...',
 'UV Protection, Riding Glasses, Others Wayfarer Sunglass...',
 'UV Protection, Riding Glasses, Gradient Wrap-around, Sp...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (56)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer, Round Sunglasses (52...',
 'UV Protection, Riding Glasses Retro Square Sunglasses (...',
 'Polarized Aviator Sunglasses (59)',
 'Night Vision, UV Protection, Polarized Wrap-around Sung...',
 'UV Protection, Gradient Butterfly, Wayfarer Sunglasses ...',
 'UV Protection, Gradient Butterfly, Wayfarer Sunglasses ...',
 'UV Protection, Gradient Butterfly Sunglasses (62)',
 'Shield Sunglass',
 'Polarized Aviator Sunglasses (58)',
 'UV Protection, Gradient Round, Cat-eye Sunglasses (60)',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'UV Protection Wayfarer Sunglasses (58)',
 'Gradient Round Sunglasses (Free Size)',
 'UV Protection Butterfly, Retro Square Sunglasses (62)',
 'UV Protection Wayfarer, Over-sized Sunglasses (61)',
 'UV Protection Sunglass',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Retro Square Sunglasses (55)',
 'UV Protection, Photochromatic Lens Aviator Sunglasses (...',
 'UV Protection Round Sunglasses (52)',
 'UV Protection, Polarized Round Sunglasses (50)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'UV Protection Retro Square Sunglasses (60)',
 'UV Protection Wayfarer, Rectangular Sunglasses (58)',
 'Polarized, UV Protection Round Sunglasses (52)',
 'UV Protection Rectangular Sunglasses (47)',
 'Toughened Glass Lens, UV Protection Aviator Sunglasses ...',
 'Polarized, UV Protection Rectangular Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'Toughened Glass Lens, UV Protection Aviator, Wrap-aroun...',
 'UV Protection Retro Square Sunglasses (50)',
 'Polarized Retro Square Sunglasses (52)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Sports, Wrap-around Sunglasses (70)',
 'UV Protection Oval Sunglasses (60)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Gradient Cat-eye Sunglasses (61)',
 'Toughened Glass Lens, UV Protection Aviator Sunglasses ...',
 'UV Protection Aviator Sunglasses (56)',
 'UV Protection Wayfarer Sunglasses (59)']

In [125]:
len(product_description)

110

In [126]:
price=[]
for page in range(0,3):
    p=driver2.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in p:
        price.append(i.text)
    next=driver2.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next.click()
    time.sleep(3)
price

['₹249',
 '₹249',
 '₹169',
 '₹569',
 '₹169',
 '₹539',
 '₹325',
 '₹499',
 '₹349',
 '₹599',
 '₹375',
 '₹340',
 '₹169',
 '₹259',
 '₹254',
 '₹169',
 '₹1,079',
 '₹590',
 '₹519',
 '₹149',
 '₹639',
 '₹1,236',
 '₹159',
 '₹449',
 '₹279',
 '₹769',
 '₹2,499',
 '₹1,079',
 '₹275',
 '₹399',
 '₹1,332',
 '₹1,999',
 '₹499',
 '₹299',
 '₹247',
 '₹487',
 '₹314',
 '₹349',
 '₹829',
 '₹159',
 '₹499',
 '₹375',
 '₹399',
 '₹299',
 '₹297',
 '₹210',
 '₹340',
 '₹1,079',
 '₹372',
 '₹499',
 '₹590',
 '₹639',
 '₹199',
 '₹388',
 '₹169',
 '₹290',
 '₹1,999',
 '₹1,236',
 '₹399',
 '₹232',
 '₹2,499',
 '₹1,079',
 '₹187',
 '₹209',
 '₹599',
 '₹169',
 '₹314',
 '₹1,332',
 '₹221',
 '₹749',
 '₹349',
 '₹319',
 '₹269',
 '₹459',
 '₹296',
 '₹589',
 '₹560',
 '₹374',
 '₹779',
 '₹233',
 '₹717',
 '₹418',
 '₹559',
 '₹7,039',
 '₹6,829',
 '₹1,118',
 '₹516',
 '₹899',
 '₹649',
 '₹1,884',
 '₹1,417',
 '₹516',
 '₹249',
 '₹7,039',
 '₹282',
 '₹1,499',
 '₹2,499',
 '₹2,499',
 '₹2,924',
 '₹879',
 '₹541',
 '₹489',
 '₹679',
 '₹169',
 '₹624',
 '₹1,111',
 '₹2,499',
 '₹2,499',
 '₹549',
 '₹359',
 '₹518',
 '₹2,499',
 '₹449',
 '₹499',
 '₹542',
 '₹1,039',
 '₹245',
 '₹418',
 '₹569',
 '₹715']

In [127]:
len(price)

120

In [128]:
#step 5: creating a dataframe and putting the values in it
import pandas as pd
df3=pd.DataFrame({'brands':brands[:100],'product description':product_description[:100],'price':price[:100]})
df3

           brands                                product description   price
0    Singco India  UV Protection, Riding Glasses, Gradient Clubma...    ₹249
1    Singco India                  Mirrored Wayfarer Sunglasses (50)    ₹249
2            SRPM             UV Protection Wayfarer Sunglasses (58)    ₹169
3        Fastrack   UV Protection, Mirrored Wayfarer Sunglasses (52)    ₹569
4       Elligator   UV Protection Rectangular Sunglasses (Free Size)    ₹169
..            ...                                                ...     ...
95    john jacobs  Toughened Glass Lens, UV Protection Aviator Su...  ₹1,499
96     Ann Taylor  Polarized, UV Protection Rectangular Sunglasse...  ₹2,499
97      ROYAL SON              UV Protection Aviator Sunglasses (54)  ₹2,499
98    john jacobs              UV Protection Aviator Sunglasses (54)  ₹2,924
99  VINCENT CHASE  Toughened Glass Lens, UV Protection Aviator, W...    ₹879

[100 rows x 3 columns]